@{
	ViewBag.Title = "News";

	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@*<link rel="stylesheet" type="text/css" href="~/Content/AppCss/newsModalCss.css" />*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/AppCss/cmiNews.css" />
<link rel="stylesheet" type="text/css" href="~/Content/assets/libs/bootstrap-multiselect/bootstrap-multiselect.css" />

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Content/assets/libs/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<style>
	.nav-item {
		cursor: pointer;
	}

	.heading {
		color: purple;
	}

	.breadcrum {
		color: purple;
	}

	.pull-right {
		float: left !important;
	}

	.btn-purple {
		background-color: purple;
		color: white;
	}

	.wrapper, .attachments-show {
		display: none;
		padding: 20px;
		margin: 0px 0;
	}

	textarea {
		border: 1px solid #DDDFE2;
		width: 100%;
		color: #6e6e6e;
		font-family: 'Rubik';
		text-decoration: none;
		display: inline;
		font-weight: 400;
		font-size: 13px;
		background: #fff;
		border-radius: 10px;
		padding: 15px;
	}

	.comnt-load {
		margin: 0px;
		padding: 0px;
		color: #6e6e6e;
		text-decoration: none;
		display: flex;
		font-weight: 500;
		font-size: 14px;
		margin-left: 8px;
	}

		.comnt-load:focus {
			box-shadow: none;
		}

	.attachment-load {
		margin: 0px;
		padding: 0px;
		color: #6e6e6e;
		text-decoration: none;
		display: flex;
		font-weight: 500;
		font-size: 14px;
		margin-left: 8px;
	}

	button.attachment-load:focus {
		box-shadow: none;
	}

	button.comnt {
		color: #fff;
		background-color: #571C7A;
		border-color: #571C7A;
		font-family: 'Rubik';
		font-weight: 400;
		padding: 6px 20px 6px 20px;
		font-size: 14px;
	}

		button.comnt:hover {
			color: #fff;
			background-color: #218838;
			border-color: #1e7e34;
		}

	.comment__list {
		background-color: #DDDFE2;
		border-radius: 3px;
	}

	.companyblock .likeblock .likebtn {
		visibility: hidden;
	}
</style>

<style>
	.heading-title {
		color: #571C7A;
	}

	.dealbtn {
		background-color: #571C7A;
		color: white;
		border: 1px solid #571C7A;
	}

		.dealbtn:hover {
			background-color: #fff;
			color: #571C7A;
		}

	.page-link {
		color: #571C7A;
	}

	.page-item.active .page-link {
		color: #fff;
		background-color: #571C7A;
		border-color: #571C7A;
	}

	.page-wrapper {
		display: block !important;
		margin-left: 250px !important;
	}


	.Lay_001 {
		height: 50px;
	}

	.table td, .table th {
	}

	.dt-body-nowrap {
		white-space: break-spaces;
	}

	ul#promos {
		text-align: center;
	}

		ul#promos li {
			width: 10px;
			height: 10px;
			background: red;
		}



	/*Css by Usama*/
	div.popup_content {
		display: none;
		position: absolute;
		width: 180px;
		padding: 10px;
		background: #eeeeee;
		color: #000000;
		border: 1px solid #1a1a1a;
		font-size: 16px;
		font-weight: 500;
	}

	.popup_content ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

		.popup_content ul li {
			display: flex;
			align-items: center;
		}

			.popup_content ul li div {
				width: 12px;
				height: 12px;
				background-color: transparent;
			}

			.popup_content ul li:first-child div {
				background-color: red;
			}

			.popup_content ul li:nth-child(1) div {
				background-color: #4040a3;
			}

			.popup_content ul li:nth-child(2) div {
				background-color: #c74747;
			}

			.popup_content ul li:nth-child(3) div {
				background-color: blueviolet;
			}

			.popup_content ul li:nth-child(4) div {
				background-color: orange;
			}

			.popup_content ul li:nth-child(5) div {
				background-color: magenta;
			}

			.popup_content ul li:nth-child(6) div {
				background-color: blueviolet;
			}

	.websiteMultiselect button.multiselect {
		position: relative;
	}

	#website1 .multiselect-container {
		top: 38px !important;
		transform: none !important;
	}

	#website2 .multiselect-container {
		top: 50px !important;
		transform: none !important;
	}

	#website3 .multiselect-container {
		top: 38px !important;
		transform: none !important;
	}

	.btn-group .show {
		width: 100% !important;
	}
</style>

<div class="container-fluid" style="margin-left:0px !important;">
    <div class="row">
        <div class="col-11">
            @*<div class="scp-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">CMI</a></li>
                <li class="breadcrumb-item active">News</li>
            </ol>
        </div>*@
            <nav class="breadcrumb" style="padding: 0px 2px; margin-bottom: 10px; background-color:transparent">
                <a class="breadcrumb-item sear" href="/Dashboard/Index">Dashboard</a>
                <a class="breadcrumb-item active">News</a>
            </nav>
        </div>
        <div class="col-1" id="shareIcon" style="cursor: pointer;">
            <img src="~/Content/assets/images/share.png" data-toggle="tooltip" data-placement="bottom" title="Share URL" onclick="copyToClipboard()" style="float: right; width: 30px; height: 30px;" />
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-left:0px !important;">
	<div class="row">
		<div class="col-9">
			@* <h1 class="heading-title"><strong>Curated Marketing Intelligence</strong></h1>*@
			<div class="result__filter d-flex justify-content-between align-items-center my-3">
				<div class="filter__date d-flex align-items-center">
					From
					<div class="mx-2">
						<input type="date" class="form-control" data-date-format='mm/dd/yyyy' id="txtFromDate" aria-describedby="emailHelp" max="12-31-2099" min="01-01-2000">
					</div>
					To
					<div class="mx-2">
						<input type="date" class="form-control" id="txtToDate" aria-describedby="emailHelp" max="12-31-2099" min="01-01-2000">
					</div>
					<button class="btn dealbtn" onclick="customFilter()">Filter</button>
				</div>
				<div class="filter__days">
					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-home-tab" onclick="filterData('current')"
							   data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Current</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-profile-tab" onclick="filterData('week')"
							   data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">Last 7 Days</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-contact-tab" onclick="filterData('month')"
							   data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">Last 30 Days</a>
						</li>
					</ul>
				</div>
				<div class="filter__date d-flex align-items-center">

					<button class="btn dealbtn" onclick="openSearchFilter()">News Aggregation</button>
				</div>
			</div>
		</div>

		<div class="cmi__news col-9">

			<div class="tab-content">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="openFilterModal" tabindex="-1" aria-labelledby="exampleModalLabel"
	 role="dialog" data-backdrop="static" data-keyboard="false" aria-modal="true">
	<div class="modal-dialog modal-lg">
		<form id="searchForm">
			<div class="modal-content">
				<div class="modal-body pb-5">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col-11">
										<h2 class="heading" style="float: left; margin-bottom: 20px;">News Aggregation</h2>
									</div>
									<div class="col-1" style="float: right; text-align: right;">
										<i class="fa fa-times" aria-hidden="true" id="closeDealModal" onclick="closeSearchFilter()" style="cursor:pointer"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="row g-3">
							<div class="col-md-6 mb-2">
								@*<label for="website1" class="form-label">Select Websites</label>*@
								<select class="select websiteMultiselect" id="website1" multiple>
								</select>
							</div>
							<div class="col-md-3 mb-2">
								@*<label for="searchPhrase1" class="form-label">Search Phrase </label>*@
								<input type="text" class="form-control" id="searchPhrase1" maxlength="50" name="orgCity" autocomplete="searchPrase" placeholder="Search Phrase">
							</div>
							<div class="col-md-3 mb-2">
								@*<label for="searchPhrase1" class="form-label">Search Phrase </label>*@
								<input type="text" class="form-control" id="searchPhrase11" maxlength="50" name="orgCity" autocomplete="searchPrase" placeholder="Search Phrase">
							</div>
						</div>
						<div class="row g-3">
							<div class="col-md-6 mb-2">
								@*<label for="website2" class="form-label">Select Websites</label>*@
								<select class="select websiteMultiselect" id="website2" multiple>
								</select>
							</div>
							<div class="col-md-3 mb-2">
								@* <label for="searchPhrase2" class="form-label">Search Phrase </label>*@
								<input type="text" class="form-control" id="searchPhrase2" maxlength="50" name="orgCity" autocomplete="searchPrase" placeholder="Search Phrase">
							</div>
							<div class="col-md-3 mb-2">
								@* <label for="searchPhrase2" class="form-label">Search Phrase </label>*@
								<input type="text" class="form-control" id="searchPhrase22" maxlength="50" name="orgCity" autocomplete="searchPrase" placeholder="Search Phrase">
							</div>
						</div>
						<div class="row g-3">
							<div class="col-md-6 mb-2">
								@*<label for="website3" class="form-label">Select Websites</label>*@
								<select class="select websiteMultiselect" id="website3" multiple>
								</select>
							</div>
							<div class="col-md-3 mb-2">
								@* <label for="searchPhrase3" class="form-label">Search Phrase </label>*@
								<input type="text" class="form-control" id="searchPhrase3" maxlength="50" name="orgCity" autocomplete="searchPrase" placeholder="Search Phrase">
							</div>
							<div class="col-md-3 mb-2">
								@* <label for="searchPhrase3" class="form-label">Search Phrase </label>*@
								<input type="text" class="form-control" id="searchPhrase33" maxlength="50" name="orgCity" autocomplete="searchPrase" placeholder="Search Phrase">
							</div>

						</div>

					</div>
				</div>
				<div class="modal-footer" style="justify-content:flex-start;">
					<div class="bottom-footer main_content">
						<div class="right-footer-btn-sec  buttons ">
							<button style="float:right" type="button" class="btn dealbtn" onclick="saveFilters()"
									id="saveFileButton">
								Save
							</button>

						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
</div>


<script src="~/Scripts/AppJS/CmiNews.js"></script>
