@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.heading {
    color: purple;
}
.heading-title {
    font-family: "Rubik";
}

.breadcrum {
    color: purple;
}

.pull-right {
    float: left !important;
}

.btn-purple {
    background-color: purple;
    color: white;
}

/* Style the tab */
body {
    background: #FAFBFC;
}

.main_content {
    background: #FFFFFF;
}

.tab {
    overflow: hidden;
    border: 1px solid #E5E5E5;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border-bottom: 3px solid transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: 500;
    font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(255, 255, 255);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(255, 255, 255);
    color: #571C7A;
    border-bottom: 3px solid #571C7A;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
}
.scp-breadcrumb {
    margin: 0px;
    padding: 0px;
}


.scp-breadcrumb .breadcrumb {
    background-color: transparent;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #47505A;
    margin: 30px 0px 20px 0px;
    padding: 0px;
}


.scp-breadcrumb .breadcrumb .breadcrumb-item a {
    background-color: transparent;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #47505A;
    margin: 0px;
    padding: 0px;
}


/*Css by Abdullah*/
.cmi__news {
    padding: 40px 15px;
    background-color: #fff;

}




.companyblock {
}


    .companyblock .main_header {
        margin: 0px;
    }


        .companyblock .main_header .nameblock {
            margin: 0px;
            padding: 0px;
            display: inline-flex;
            align-items: center;
        }

            .companyblock .main_header .nameblock img {
                margin: 0px;
                padding: 0px;
                border-radius: 50%;
            }


            .companyblock .main_header .nameblock h2 {
                margin: 0px;
                padding: 0px;
                color: #454545;
                font-family: 'Rubik';
                text-decoration: none;
                display: inline;
                font-weight: 600;
                font-size: 24px;
                padding-right: 10px;
                line-height: 1;
            }

            .companyblock .main_header .nameblock h4 {
                margin: 0px;
                padding: 0px;
                color: #8f8f8f;
                font-family: 'Rubik';
                text-decoration: none;
                display: inline;
                font-weight: 400;
                font-size: 13px;
            }


            .companyblock .main_header .nameblock .text {
                display: inline-flex;
                align-content: center;
            }


        .companyblock .main_header .toggle {
            display: block;
            float: right;
        }



            .companyblock .main_header .toggle .dot {
                height: 5px;
                width: 5px;
                background-color: #61676F;
                border-radius: 50%;
                display: inline-block;
                margin-right: 3px;
            }


    .companyblock .centerblock {
        padding: 10px;
        margin: 0px;
        padding-top: 0px;
    }


        .companyblock .centerblock p {
            margin: 0px;
            padding: 0px;
            color: #6e6e6e;
            font-family: 'Rubik';
            text-decoration: none;
            display: inline;
            font-weight: 400;
            font-size: 13px;
        }


    .companyblock hr {
        margin: 0px;
    }


    .companyblock .likeblock {
        margin: 0px;
        padding: 0px;
    }


        .companyblock .likeblock .likebtn {
            margin: 0px;
            display: inline-flex;
            padding: 8px 0px 8px 12px;
        }

            .companyblock .likeblock .likebtn img {
                margin: 0px;
                padding: 0px;
                border-radius: 50%;
            }


            .companyblock .likeblock .likebtn .text h4 {
                margin: 0px;
                padding: 0px;
                color: #6e6e6e;
                text-decoration: none;
                display: inline;
                font-weight: 500;
                font-size: 14px;
                margin-left: 6px;
            }


        .companyblock .likeblock .toggle {
            float: right;
            padding-right: 11px;
            font-size: 13px;
            font-weight: 500;
            margin-top: 13px;
        }


            .companyblock .likeblock .toggle .dot {
                height: 4px;
                width: 4px;
                background-color: #61676F;
                border-radius: 50%;
                display: inline-block;
                margin-right: 3px;
            }


    .companyblock .comentico {
        margin: 0px;
        display: inline-flex;
        padding: 5px 0px 5px 0px;
        flex-direction: row;
        align-items: center;
        margin: 0px 22px 0px 22px;
    }


        .companyblock .comentico img {
            margin: 0px;
            padding: 0px;
        }

        .companyblock .comentico .text h4 {
            margin: 0px;
            padding: 0px;
        }

            .companyblock .comentico .text h4 a {
                margin: 0px;
                padding: 0px;
                color: #6e6e6e;
                text-decoration: none;
                display: flex;
                font-weight: 500;
                font-size: 14px;
                margin-left: 8px;
            }

    .companyblock .commentperson {
        margin: 0px;
        padding: 0px;
        border-radius: 50%;
        margin-top: 8px;
    }

@media (max-width:800px) {
    .companyblock .comentico {
        margin: 0px 12px 0px 12px;
    }
}


.comment__sec {
    border-left: 1px solid #571C7A;
    padding: 0 0 14px 30px;
    position: relative;
    margin-left: 20px;
}

    .comment__sec.dashed {
        border-left: 1px dashed #DDDDDD;
        padding-bottom: 0px;
    }

.item-icon {
    position: absolute;
    left: -9px;
    top: 0px;
    background-size: 20px;
    border-radius: 500%;
    height: 16px;
    width: 16px;
    z-index: 999;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #571C7A;
    border: 1px solid #571C7A;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}

.ui-autocomplete.ui-widget {
    font-size: 16px;
}



.cmi__details {
   list-style: none;
   padding: 0;
   margin: 8px 0px;
}
.cmi__details li {
    margin-right: 10px;
}
    .cmi__details li.cmi__datetime {
        color: #B8B8B8;
        font-size: 14px;
    }
    .cmi__details li.cmi__source strong {
        color: #571C7A;
        font-size: 14px;
        font-weight: 700;
    }
    .cmi__details li.cmi__source span {
        color: #571C7A;
        font-size: 12px;
        background-color: #F9EFFF;
        border: 1px solid #9265AD;
        border-radius: 3px;
        padding: 2px 4px;
    }
.companyblock .cmi__descp p {
    color: #47505A;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    padding: 20px 0px;
}


.filter__date {
    font-size: 16px;
    font-weight: 400;
    color: #571C7A;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #571C7A;
    background-color: transparent;
    border-bottom: 2px solid #571C7A;
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
}
.nav-pills .nav-link {
    color: #686868;
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
}


