table {
	font-size: 13px;
}

.bg-purple-header {
	background-color: #571C7A;
}

.hourglass {
	display: block;
	background: #ede7f1;
	margin: 3em auto;
	width: 2em;
	height: 4em;
	-webkit-animation: hourglass 1s linear infinite;
	animation: hourglass 1s linear infinite;
}

.outer {
	fill: #571c7a;
}

.middle {
	fill: #ede7f1;
}

@-webkit-keyframes hourglass {
	0% {
		transform: rotate(0deg);
		box-shadow: inset #571c7a 0 0em 0 0, inset #ede7f1 0 -2em 0 0, inset #571c7a 0 -4em 0 0;
	}

	80% {
		transform: rotate(0deg);
		box-shadow: inset #571c7a 0 -2em 0 0, inset #ede7f1 0 -2em 0 0, inset #571c7a 0 -2em 0 0;
	}

	100% {
		transform: rotate(180deg);
		box-shadow: inset #571c7a 0 -2em 0 0, inset #ede7f1 0 -2em 0 0, inset #571c7a 0 -2em 0 0;
	}
}

@keyframes hourglass {
	0% {
		transform: rotate(0deg);
		box-shadow: inset #571c7a 0 0em 0 0, inset #ede7f1 0 -2em 0 0, inset #571c7a 0 -4em 0 0;
	}

	80% {
		transform: rotate(0deg);
		box-shadow: inset #571c7a 0 -2em 0 0, inset #ede7f1 0 -2em 0 0, inset #571c7a 0 -2em 0 0;
	}

	100% {
		transform: rotate(180deg);
		box-shadow: inset #571c7a 0 -2em 0 0, inset #ede7f1 0 -2em 0 0, inset #571c7a 0 -2em 0 0;
	}
}
.company__row.row {
	background-color: white;
	border: 1px solid #ccc;
	position: relative;
	height: 300px;
	overflow-y: scroll;
	overflow-y: auto;
	position: relative;
	font-size: 15px;
}
.fpds__heading {
	Background-color: #f4e3ff;
	position: sticky;
	top: 0;
	z-index: 4;
	width: 100%;
}
.modalBtn {
	background: #571c7a;
	color:#fff;
}
	.modalBtn:hover {
		color: black;
		background-color: #f4e3ff;
		border-color: black;
	}
.modal__info {
	padding-left:25px;
}