@{
    ViewBag.Title = "FPDS CPARS Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@*<link rel="stylesheet" type="text/css" href="~/Content/AppCss/newsModalCss.css" />*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/AppCss/FpdsCPARSPage.css" />


<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-11">
            @*<div class="scp-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" id="page1"><a href="/AnswerWizard/Index">Wizard</a></li>
                    <li class="breadcrumb-item" id="categoryQuestion"><a href=""></a></li>
                    <li class="breadcrumb-item" id="page2"><a href="">Question List</a></li>
                    <li class="breadcrumb-item" id="page3"><a href="">Search Criteria</a></li>
                    <li class="breadcrumb-item" id="page4"><a href="">Data Grid</a></li>
                    <li class="breadcrumb-item active">FPDS</li>
                </ol>
            </div>*@
        </div>
        <div class="col-1" id="shareIcon" style="cursor: pointer;">
            <img src="~/Content/assets/images/share.png" data-toggle="tooltip" data-placement="bottom" title="Share URL" onclick="copyToClipboard()" style="float: right; width: 30px; height: 30px;" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-11">
            <p style="color: #571C7A; font-size: 0.85rem;"><i>Click on the Mod # in Contract History to view specific details</i></p>
        </div>
        <div class="col-1" style="cursor: pointer;">
            <span data-toggle="modal" data-target="#exampleModalCenter">
                <img src="~/Content/assets/images/help.png" data-toggle="tooltip" data-placement="bottom" title="Help" style="float: right; width: 30px; height: 30px;" />
            </span>
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-left:0px !important;">

	@*1st row*@

	<div class="row">

		<div class="col-lg-4">
			<div class="fpds__data">
				<div class="p-1 fpds__heading">
					<h4>Vendor Identification</h4>
				</div>
				<div class="fpds__list">
					<table class="table table-borderless" style="width:100%">
						<tr>
							<th>
								Recipient
							</th>
							<td>
								<span id="recipient_name"></span>
								-
								<span id="recipient_uei"></span>
							</td>
						</tr>
						<tr>
							<th>
								Address
							</th>
							<td>
								<span id="PHYSICAL_ADDRESS_LINE_1"></span>

								<span id="PHYSICAL_ADDRESS_LINE_2"></span>
							</td>
						</tr>
						<tr>
							<th>
								City/State/Zip
							</th>
							<td>
								<span id="PHYSICAL_ADDRESS_CITY"></span>
								-
								<span id="PHYSICAL_ADDRESS_PROVINCE_OR_STATE"></span>
								-
								<span id="PHYSICAL_ADDRESS_COUNTRY_CODE"></span>
							</td>
						</tr>
						<tr>
							<th>
								NAICS Registrations
							</th>
							<td id="naics_code_registrations">
							</td>
						</tr>
						<tr>
							<th>
								Business Type Registrations
							</th>
							<td id="business_registrations">
							</td>
						</tr>
						<tr>
							<th>UEI</th>
							<td id="UEI"></td>
						</tr>
						<tr>
							<th>Vendor Name</th>
							<td id="vendor_name"></td>
						</tr>
						<tr>
							<th>Agency Name</th>
							<td id="agency_name"></td>
						</tr>
						<tr>
							<th>Total CPARS</th>
							<td id="total_CPARS"></td>
						</tr>
					</table>

				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="fpds__data">
				<div class="p-1 fpds__heading">
					<h4>
						Contract Details
						<a href="#" id="flag_link" target="_blank" data-toggle="tooltip" data-placement="right" title="Click to view the entire contract at usaspending.gov">
							<img class="Com_007 flag_usa" src="/Content/assets/images/Logos/USA_1.png">
						</a>
					</h4>
				</div>
				<div class="fpds__list">
					<table class="table table-borderless" style="width:100%">
						<tr>
							<th>
								Contract ID
							</th>
							<td id="Contract_ID">
							</td>
						</tr>
						<tr>
							<th>
								Referenced IDV ID
							</th>
							<td id="Referenced_IDV_ID">
							</td>
						</tr>
						<tr>
							<th>
								Solicitation identifier
							</th>
							<td id="solicitation_identifier">
							</td>
						</tr>
						<tr>
							<th>
								Date Signed
							</th>
							<td id="date_signed">
							</td>
						</tr>
						<tr>
							<th>
								Latest End date
							</th>
							<td id="latest_period_of_performance_potential_end_date">
							</td>
						</tr>
						<tr>
							<th>
								Modification Number
							</th>
							<td id="modification_number">
							</td>
						</tr>
						<tr>
							<th>
								Latest Modification Number
							</th>
							<td id="latest_modification_number">
							</td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>
								Federal Action Obligation
							</th>
							<td id="federal_action_obligation">
							</td>
						</tr>
						<tr>
							<th>
								Base and All Options Value
							</th>
							<td id="base_and_all_options_value">
							</td>
						</tr>
						<tr>
							<th>
								Total Dollars Obligated
							</th>
							<td id="total_dollars_obligated">
							</td>
						</tr>
						<tr>
							<th>
								Total Base And All Options
							</th>
							<td id="total_base_and_all_options">
							</td>
						</tr>


					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="fpds__data">
				<div class="p-1 fpds__heading">
					<h4>Agency Identification</h4>
				</div>
				<div class="fpds__list">
					<table class="table table-borderless" style="width:100%">
						<tr>
							<th>
								Funding Agency
							</th>
							<td>
								<span id="funding_agency_code"></span>
								-
								<span id="funding_agency_name"></span>
							</td>
						</tr>
						<tr>
							<th>
								Funding Sub Agency
							</th>
							<td>
								<span id="funding_sub_agency_code"></span>
								-
								<span id="funding_sub_agency_name"></span>
							</td>
						</tr>
						<tr>
							<th>
								Funding Office
							</th>
							<td>
								<span id="funding_office_code"></span>
								-
								<span id="funding_office_name"></span>
							</td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>
								Awarding Agency
							</th>
							<td>
								<span id="awarding_agency_code"></span>
								-
								<span id="awarding_agency_name"></span>
							</td>
						</tr>
						<tr>
							<th>
								Awarding Sub Agency
							</th>
							<td>
								<span id="awarding_sub_agency_code"></span>
								-
								<span id="awarding_sub_agency_name"></span>
							</td>
						</tr>
						<tr>
							<th>
								Awarding Office
							</th>
							<td>
								<span id="awarding_office_code"></span>
								-
								<span id="awarding_office_name"></span>
							</td>
						</tr>
					</table>

				</div>
			</div>
		</div>

	</div>

	@*2nd row*@

	<div class="row" style="margin-top:40px">



		<div class="col-lg-4">
			<div class="fpds__data">
				<div class="p-1 fpds__heading">
					<h4>Contract History</h4>
				</div>
				<div class="contract_history fpds__list">

					<table class="table table-borderless" style="width:100%">
					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="fpds__data">
				<div class="p-1 fpds__heading">
					<h4>Contract Description</h4>
				</div>
				<div class="fpds__list">
					<table class="table table-borderless" style="width:100%">
						<tr>
							<th>
								PSC Code
							</th>
							<td>
								<span id="product_or_service_code"></span>
								-
								<span id="product_or_service_code_description"></span>
							</td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>
								NAICS Code
							</th>
							<td>
								<span id="naics_code"></span>
								-
								<span id="naics_description"></span>
							</td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>
								Award Description
							</th>
							<td id="award_description">
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="fpds__data">
				<div class="p-1 fpds__heading">
					<h4>Contract & Competition Information</h4>
				</div>
				<div class="fpds__list">
					<table class="table table-borderless" style="width:100%">
						<tr>
							<th>
								Contract Pricing
							</th>
							<td id="">
								<span id="type_of_contract_pricing_code"></span>
								-
								<span id="type_of_contract_pricing"></span>
							</td>
						</tr>
						<tr>
							<th>
								Major Program
							</th>
							<td id="major_program">
							</td>
						</tr>
						<tr>
							<th>
								Primary Place of Performance
							</th>
							<td id="">
								<span id="primary_place_of_performance_city_name"></span>
								<span id="primary_place_of_performance_state_code"></span>
								<span id="primary_place_of_performance_country_name"></span>
							</td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>
								Extent Competed
							</th>
							<td id="extent_competed">
							</td>
						</tr>
						<tr>
							<th>
								Earliest Start Date
							</th>
							<td id="earliest_start_date">
							</td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>
								Solicitation Procedures
							</th>
							<td id="solicitation_procedures">
							</td>
						</tr>
						<tr>
							<th>
								Type of Set Aside
							</th>
							<td>
								@*<span id="type_of_set_aside_code"></span>*@

								<span id="type_of_set_aside"></span>
							</td>
						</tr>
						<tr>
							<th>
								IDV Type
							</th>
							<td>
								<span id=" "></span>

								<span id="idv_type"></span>
							</td>
						</tr>
						<tr>
							<th>
								Fair Opportunity Limited Sources
							</th>
							<td>
								@*<span id="fair_opportunity_limited_sources_code"></span>*@

								<span id="fair_opportunity_limited_sources"></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>


	</div>

	@*3rd row*@

	<div class="row" style="margin-top:40px">



		<div class="col-lg-12">
			<div class="fpds__data" style=" height: 250px; ">
				<div class="p-1 fpds__heading">
					<h4>Vendor CPARS Details</h4>
				</div>
				<div class="cparsData fpds__list">

					<table class="table table-borderless" style="width:100%">
						
						
					</table>
				</div>
			</div>
		</div>




	</div>
</div>


<!-- Help Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionHelpTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="questionHelpDescription"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/AppJS/QuestionHelp.js"></script>
<script src="~/Scripts/AppJS/FpdsCPARSPage.js"></script>
