@{
    ViewBag.Title = "HDR Inc. Data Grid";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@*<link rel="stylesheet" type="text/css" href="~/Content/AppCss/newsModalCss.css" />*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/AppCss/HdrDataGrid.css" />
<link href='//fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@*<div class="container-fluid">
        <div class="row">
            <div class="col-11">
                <div class="scp-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" id="page1"><a href="/AnswerWizard/Index">Wizard</a></li>
                        <li class="breadcrumb-item" id="categoryQuestion"></li>
                        <li class="breadcrumb-item" id="page3"><a href="">Search Criteria</a></li>
                        <li class="breadcrumb-item active">Data Grid</li>
                    </ol>
                </div>
            </div>
            <div class="col-1" id="shareIcon" style="cursor: pointer;">
                <img src="~/Content/assets/images/share.png" data-toggle="tooltip" data-placement="bottom" title="Share URL" onclick="copyToClipboard()" style="float: right; width: 30px; height: 30px; margin-right: 10px;" />
            </div>
        </div>
    </div>*@
<div class="row" id="datagrid_67">


</div>

<div class="container-fluid" style="margin-left: 0px !important; padding-top: 20px; ">
    <div class="row">
        <div class="col-11">
            <h1 class="heading-title" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; font-size: 1.5rem;">
                <span id="heading"></span>
                <span id="vendor_name"></span>
            </h1>
            @*<h1 class="heading-title" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; font-size: 1.5rem;"></h1>*@
        </div>
        @*<div class="col-1" style="cursor: pointer;">
                <span data-toggle="modal" data-target="#exampleModalCenter">
                    <img src="~/Content/assets/images/help.png" data-toggle="tooltip" data-placement="bottom" title="Help" style="float: right; width: 30px; height: 30px; margin-right: 10px;" />
                </span>
            </div>*@
    </div>

	<div class="row my-2">
		<div class="col-10">
			@*<h5 class="question_decription_text" id="immediate_owner_name" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; display: none;"></h5>
				<h5 class="question_decription_text" id="highest_level_owner" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; display: none;"></h5>
				<h5 class="question_decription_text" id="tax_id_number" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; display: none;"></h5>
				<h5 class="question_decription_text" id="agency_name" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; display: none;"></h5>
				<h5 class="question_decription_text" id="unique_id" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"></h5>*@
				<h5 class="question_decription_text" id="sub_heading" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"></h5><br />
		</div>
		
	</div>
	<div class="row">
		<div class="col-10">
			<h5 class="question_decription_text" id="clickDescription65" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"><i>Click the underlined text for further details.</i></h5>
			<h5 class="question_decription_text" id="clickDescription67" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; display:none;"><i>Click any row to view CPARS and Contract Obligations.</i></h5>
		</div>
		<div class="col-2 text-right" style="padding-right: 0px;">
			@*<button class="btn dealbtn" onclick="exportToCsv()">Export to Excel</button>*@
			<button class="dt-button excelIcon" tabindex="0" aria-controls="searchreportData" onclick="exportToCsv()" title="Export to Excel"><span></span></button>
		</div>
		@*<div class="col-2 text-right">
			<button class="btn filterBtn border-0" id="filterButton" style="display:none" onclick="showFilterModal()">Filter Results</button>
		</div>*@
	</div>
	<!--<div class="row my-2">
		<div class="col-2 text-right">
			<h5 class="question_decription_text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"><i>Click any row to view CPARS and Contract Obligations.</i></h5>
		</div>-->
	@*<div class="col-10 text-right">
			<h5 class="question_decription_text" id="total_records" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"></h5>
		</div>*@

    </div>
    
    <!--<div class="row my-2">
        <div class="col-2 text-right">
            <h5 class="question_decription_text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"><i>Click any row to view CPARS and Contract Obligations.</i></h5>
        </div>-->
    @*<div class="col-10 text-right">
            <h5 class="question_decription_text" id="total_records" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"></h5>
        </div>*@

    <!--</div>-->

    <div class="row">

        <div class="tableParent col-12">
            <table class="table table-striped" id="gridTable">
                <thead class="bg-purple-header text-white" id="tableHeaders65" style="display:none;">
                    <tr>
                        <th>Vendor</th>
                        <th>JV</th>
                        <th>UEI</th>
                        <th>CPARS</th>
                        <th>IDIQ Active</th>
                        <th>IDIQ Expired</th>
                        <th>IDIQ Total</th>
                        <th>Single IDIQ</th>
                        <th>Multiple IDIQ</th>
                        <th>TO Active</th>
                        <th>TO Expired</th>
                        <th>TO Total</th>
                        <th>Immediate Owner</th>
                        <th>Highest Level Owner</th>
                        <th>Registration Expire Date</th>
                        <th>Cage</th>
                        <th>Tax ID</th>
                        @*<th>DUNS</th>*@
                        <th>Office Location</th>
                        <th>Status</th>
                        <th>Action</th>
                        @*<th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>*@
                        <th>Notes</th>
                        <th>Updated</th>
                        <th>@*Edit*@</th>
                    </tr>
                </thead>
                <thead class="bg-pink-header" id="tableHeaders67">
					<tr>
						<th>Contract Order Number</th>
						<th>Contract Number</th>
						<th>Mod #</th>
						@*<th>Funding Agency</th>*@
						<th>Funding Sub-Agency</th>
						<th>Funding Office</th>
						<th>NAICS</th>
						@*<th>NAICS Description</th>*@
						<th>PSC</th>
						@*<th>PSC Description</th>*@
						<th>Start Date</th>
						<th>End Date</th>
						@*<th>Set Aside</th>*@
						<th>Expire Year</th>
						<th>Base and All Options</th>
						<th>Action Obligations</th>
						<th>Status</th>
						<th>Action</th>
						<th>Notes</th>
						<th>Updated</th>
						<th></th>
					</tr>
                </thead>
                <thead class="bg-purple-header text-white" id="tableHeaders67_obligations" style="display:none;">
                    <tr>
                        <th>AGENCY NAME</th>
                        <th>QUALITY RATING</th>
                        <th>SCHEDULE RATING</th>
                        <th>COST CONTROL RATING</th>
                        <th>MANAGEMENT RATING</th>
                        <th>SMALL BUSINESS RATING</th>
                        <th>REGULATORY COMPLIANCE RATING</th>
                        <th>CONTRACT NUMBER</th>
                        <th>CONTRACT ORDER NUMBER</th>
                        <th>ASSESSING OFFICIAL RECOMMEND</th>
                        <th>ASSESSING OFFICIAL SIGNED DATE</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>

    </div>



<div class="wrapper" id="loader">
    <svg class="hourglass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 206" preserveAspectRatio="none">
        <path class="middle" d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z" />
        <path class="outer" d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z" />
    </svg>
</div>

<!-- Filter Modal -->
<!--<div class="modal fade" id="filterModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #571c7a; color:white">
                <h5 class="modal-title" id="exampleModalLongTitle"><strong>Filter Results</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">UEI:</label>
                        <input type="text" class="form-control" id="uei" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Start Date:</label>
                        <input type="date" class="form-control" id="startDate" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">End Date:</label>
                        <input type="date" class="form-control" id="endDate" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Select JV:</label>
                        <select id="selectJV" style="width:100%">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">-->
@*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
<!--<button type="button" class="btn save" id="filterRecords" style="background-color: #571c7a; color: white">Show Filtered Records</button>
            </div>
        </div>
    </div>
</div>-->
<!-- Edit Modal -->

<div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #571c7a; color:white">
				<h5 class="modal-title" id="exampleModalLongTitle"><strong>Edit Notes</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						@*<label for="message-text" class="col-form-label">Edit Notes:</label>*@
						<input type="hidden" class="form-control" id="edit-uei" />
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">Status:</label>
						<select id="edit-status" style="width: 100%; border: 1px solid #ced4da; border-radius: 5px;">
							<option>Select</option>
							<option>Always Active</option>
							<option>Active for Now/Wait</option>
							<option>Sunset</option>
							<option>Delete</option>
						</select>
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">Action:</label>
						<select id="edit-action" style="width: 100%; border: 1px solid #ced4da; border-radius: 5px;">
							<option>Select</option>
							<option>Sunset</option>
							<option>Migrate</option>
							<option>Novate</option>
						</select>
					</div>

					<div class="form-group">
						<label for="message-text" class="col-form-label">Notes:</label>
						<textarea class="form-control" id="edit-notes"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				@*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
				<button type="button" class="btn save" style="background-color: #571c7a; color: white" onclick="save_changes()">Save</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editContractModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-pink-header">
				<h5 class="modal-title" id="exampleModalLongTitle"><strong>Edit Notes</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<input type="hidden" class="form-control" id="edit-uei-c" />
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" id="edit-contract-c" />
					</div>

					<div class="form-group">
						<label for="message-text" class="col-form-label">Status:</label>
						<select id="edit-status-c" style="width: 100%; border: 1px solid #ced4da; border-radius: 5px;">
							<option>Select</option>
							<option>Always Active</option>
							<option>Active for Now/Wait</option>
							<option>Sunset</option>
							<option>Delete</option>
						</select>
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">Action:</label>
						<select id="edit-action-c" style="width: 100%; border: 1px solid #ced4da; border-radius: 5px;">
							<option>Select</option>
							<option>Sunset</option>
							<option>Migrate</option>
							<option>Novate</option>
						</select>
					</div>

					<div class="form-group">
						<label for="message-text" class="col-form-label">Notes:</label>
						<textarea class="form-control" id="edit-notes-c"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				@*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
				<button type="button" class="btn save bg-pink-header" onclick="save_changes_contract()">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Help Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionHelpTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="questionHelpDescription">
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/AppJS/QuestionHelp.js"></script>*@
<script src="~/Scripts/AppJS/HdrDataGrid.js"></script>
