@{
    ViewBag.Title = "Question Params";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@*<link rel="stylesheet" type="text/css" href="~/Content/AppCss/newsModalCss.css" />*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/AppCss/QuestionParams.css" />

<link href="~/Content/AppCss/Search.css" rel="stylesheet" />
<link href="~/Content/AppCss/toggle.css" rel="stylesheet" />
<link href="~/Content/AppCss/Opportunity.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
    .nav-item {
        cursor: pointer;
    }

    .heading {
        color: purple;
    }

    .breadcrum {
        color: purple;
    }

    .pull-right {
        float: left !important;
    }

    .btn-purple {
        background-color: purple;
        color: white;
    }

    .wrapper, .attachments-show {
        display: none;
        padding: 20px;
        margin: 0px 0;
    }

    textarea {
        border: 1px solid #DDDFE2;
        width: 100%;
        color: #6e6e6e;
        font-family: 'Rubik';
        text-decoration: none;
        display: inline;
        font-weight: 400;
        font-size: 13px;
        background: #fff;
        border-radius: 10px;
        padding: 15px;
    }

    .comnt-load {
        margin: 0px;
        padding: 0px;
        color: #6e6e6e;
        text-decoration: none;
        display: flex;
        font-weight: 500;
        font-size: 14px;
        margin-left: 8px;
    }

        .comnt-load:focus {
            box-shadow: none;
        }

    .attachment-load {
        margin: 0px;
        padding: 0px;
        color: #6e6e6e;
        text-decoration: none;
        display: flex;
        font-weight: 500;
        font-size: 14px;
        margin-left: 8px;
    }

    button.attachment-load:focus {
        box-shadow: none;
    }

    button.comnt {
        color: #fff;
        background-color: #571C7A;
        border-color: #571C7A;
        font-family: 'Rubik';
        font-weight: 400;
        padding: 6px 20px 6px 20px;
        font-size: 14px;
    }

        button.comnt:hover {
            color: #fff;
            background-color: #218838;
            border-color: #1e7e34;
        }

    .comment__list {
        background-color: #DDDFE2;
        border-radius: 3px;
    }

    .companyblock .likeblock .likebtn {
        visibility: hidden;
    }
</style>



<div class="container-fluid" style="margin-left:0px !important;">
    <div class="row">
        <div class="col-11">
            <div class="scp-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" id="page1"><a href="/AnswerWizard/Index">Wizard</a></li>
                    <li class="breadcrumb-item" id="categoryQuestion"></li>
                    @* <li class="breadcrumb-item" id="page2"><a href="">Question List</a></li>*@
                    <li class="breadcrumb-item active">Search Criteria</li>
                </ol>
            </div>
        </div>
        @*<div class="col-1" id="shareIcon" style="cursor: pointer;">
                <img src="~/Content/assets/images/share.png" data-toggle="tooltip" data-placement="bottom" title="Share URL" onclick="copyToClipboard()" style="float: right; width: 30px; height: 30px;" />
            </div>*@
    </div>
</div>



<div class="container-fluid" style="margin-left:0px !important;">
    @*<div class="col-12 p-0">
            <h1 class="heading-title" id="heading" style=" white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 100%;"></h1>
        </div>*@
    <div class="row">
        <div class="col-11">
            <h1 class="heading-title" id="heading" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; font-size: 1.5rem;"></h1>
        </div>
        <div class="col-1" style="cursor: pointer;">
            <span data-toggle="modal" data-target="#exampleModalCenter">
                <img src="~/Content/assets/images/help.png" data-toggle="tooltip" data-placement="bottom" title="Help" style="float: right; width: 30px; height: 30px;" />
            </span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-10">
            <h5 class="question_decription_text" id="sub_heading" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"></h5>
        </div>
        @*  <div class="col-2 pr-0">
                <button class="btn waves-effect waves-light btn-custom serchcss B_s002 Searchbtn" data-toggle="modal" data-target="#exampleModal" onclick="saveSearch()">Add To Search History</button>
            </div>*@
    </div>
	<div class="row ques_param" style="position: relative;">
		@*<div class="ads" style="position: absolute; right: 5px; width: 32%; height: 650px; ">
			<img src="~/Content/assets/images/search.png" style="width: 100%; height: 100%;">
		</div>*@
		<div class="col-12" id="htmlRenderer">

		</div>
		<div class="row s018 col-md-5 offset-md-2 SearchFields" id="buttons">

			<div class="col-md-4 text-center my-2">
				<button type="button" class="btn waves-effect waves-light btn-custom serchcss B_s002 Searchbtn" id="searhData" onclick="searchData()"> <i class="ti-search"></i> Search</button>
			</div>

			<div class="col-md-4 text-center my-2">
				<button type="button" class="btn waves-effect waves-light btn-custom serchcss B_s003" onclick="clearData()">X Clear</button>
			</div>

			<div class="col-md-4 text-center my-2">
				<button class="btn waves-effect waves-light btn-custom serchcss B_s002 Searchbtn" onclick="saveSearchModal()">Add To Search History</button>
			</div>

		</div>

	</div>
</div>


<!-- Modal for Search History-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add to your search history</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Search Name:</label>
                        <input type="text" id="searchNameInput" class="form-control">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn waves-effect waves-light btn-custom serchcss B_s003" data-dismiss="modal">Close</button>*@
                <button type="button" id="saveSearchButton" class="btn waves-effect waves-light btn-custom serchcss B_s002 Searchbtn"
                        onclick="saveSearch()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Socioeconomic-->
<div class="modal fade" id="Mysocio" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" style="width: 45%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="socioHeading">Choose Socioeconomic set-aside</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="SBusiness" class="">
                    </div>
                    <div style="width: 100%;padding: 0px 19px;height: 600px;">
                        <div class="table-responsive">
                            <table id="tbl_Socio" class="table table-striped table-bordered" style="width:100% !important">
                                <thead>
                                    <tr id="HeadR">
                                        <th><label>Row #</label></th>
                                        <th style="width:50%;"><label>Description</label></th>
                                        <th><label>Abbr.</label></th>
                                        <th><label>Select</label></th>
                                    </tr>
                                </thead>
                                <tbody class="clsSocioeconomic tbodyContent" id="tbody_Socio"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default okaySocio" id="OKSocio">OK</button>
                <button type="button" class="btn btn-secondary cancelSocio" id="CancelSocio">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for Socioeconomic aside-->
<div class="modal fade" id="MysocioAside" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" style="width: 45%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="set-aside-modal-heading">Choose Contract set-aside</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="SBusiness" class="">
                    </div>
                    <div style="width: 100%;padding: 0px 19px;height: 600px;">
                        <div class="table-responsive">
                            <table id="tbl_SocioAside" class="table table-striped table-bordered" style="width:100% !important">
                                <thead>
                                    <tr id="HeadR">
                                        <th><label>Row #</label></th>
                                        <th style="width:50%;"><label>Description</label></th>
                                        <th><label>Abbr.</label></th>
                                        <th><label>Select</label></th>
                                    </tr>
                                </thead>
                                <tbody class="clsSocioeconomicAside tbodyContent" id="tbody_Aside"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default okaySocio" id="OKSocioAside">OK</button>
                <button type="button" class="btn btn-secondary cancelSocio" id="CancelSocioAside">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for Opportunity type-->
<div class="modal fade" id="opportunityModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" style="width: 45%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="set-opportunity-modal-heading">Choose Opportunity Type</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="SBusiness" class="">
                    </div>

                    <div style="width: 100%;padding: 0px 19px;height: 600px;">
                        <div class="table-responsive">
                            <table id="tbl_OpportunityType" class="table table-striped table-bordered" style="width:100% !important">
                                <thead>
                                    <tr id="HeadR">
                                        <th><label>Row #</label></th>
                                        <th style="width:50%;"><label>Description</label></th>
                                        <th><label>Select</label></th>
                                    </tr>
                                </thead>
                                <tbody class="clsOpportunityClass tbodyContent" id="tbody_OpportunityType"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default okaySocio" id="OkOpportunityType">OK</button>
                <button type="button" class="btn btn-secondary cancelSocio" id="CancelOpportunityType">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- Help Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionHelpTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="questionHelpDescription"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/AppJS/QuestionHelp.js"></script>
<script src="~/Scripts/AppJS/QuestionParams.js"></script>
