
@{
    ViewBag.Title = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerbody">
    <div class="col-lg-12 row">
        <div class="col-lg-3" style="padding: 0;flex: 0 0 20%;">
            <nav class="breadcrumb" style="padding: 0px 2px;margin-bottom: 10px;">
                <a class="breadcrumb-item" id="sear">Frequently Asked Questions</a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="https://docs.google.com/spreadsheets/d/1lAc6jMR82AuAfGGQSNCpon0szMbjD6fRZ8jOPQHH148/edit?usp=sharing" target="_blank">
                        Click here to open our Frequently Asked Questions document
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


