<div class="col-md-12" id="ContactSearch" style="text-transform: uppercase;">
    <div class="row">
        <div class="col-md-4">
            <div class="card-group">
                <!-- Column -->
                <div class="card bg-success">
                    <div class="card-body text-white Co_002">
                        <div class="row">
                            <div class="col-lg-12"><label class="Co_008">Vendor</label></div>
                            <div class="col-lg-12 Co_013"><label class="recipient_name Co_007 Co_013 Co_012"></label></div>
                            <div class="col-lg-12"><label class="Co_008">IDV ID </label></div>
                            <div class="col-lg-12 Co_013"><label class="refidv Co_007 Co_013 Co_012"></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-group">
                <!-- Column -->
                <div class="card bg-success">
                    <div class="card-body text-white Co_002">
                        <div class="row">
                            <div class="col-lg-12"><label class="Co_008">Awarding Agency</label></div>
                            <div class="col-lg-12 Co_013"><label class="awarding_agency_name Co_007 Co_012"></label></div>
                            <div class="col-lg-12"><label class="Co_008">Awarding Sub Agency</label></div>
                            <div class="col-lg-12 Co_013"><label class="awarding_sub_agency_name Co_007 Co_012"></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-group">
                <div class="card bg-success">
                    <div class="card-body text-white Co_002">
                        <div class="row">
                            <div class="col-lg-12"><label class="Co_008">NAICS</label></div>
                            <div class="col-lg-12 Co_013"><label class="naics_description Co_007 Co_012"></label><label class="naics_code Co_012"></label></div>
                            @*<div class="col-lg-12"><label class="Co_008">PSC</label></div>
                            <div class="col-lg-12 Co_013"><label class="psc_description Co_007 Co_012"></label><label class="psc_code Co_012"></label></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="BindIDVContractData" style="padding: 10px 10px;text-transform: uppercase;">

        </div>

    </div>
</div>