@{
    ViewBag.Title = "Government Contacts";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/AppJS/GovernmentContacts.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/Content/AppCss/people.css" />
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<div class="container-fluid">
    <div class="row">
        <div class="col-11">
            <nav class="breadcrumb" style="padding: 0px 2px; margin-bottom: 10px; background-color:transparent">
                <a class="breadcrumb-item sear" href="/Dashboard/Index">Dashboard</a>
                <a class="breadcrumb-item active">Government Contacts</a>
            </nav>
        </div>
        <div class="col-1" id="shareIcon" style="cursor: pointer;">
            <img src="~/Content/assets/images/share.png" data-toggle="tooltip" data-placement="bottom" title="Share URL" onclick="copyToClipboard()" style="float: right; width: 30px; height: 30px;" />
        </div>
    </div>
    <div class="row justify-content-between align-items-center my-3">
        <div class="col-6">
            <h1 class="heading-title"><strong>Government Contacts</strong></h1>
        </div>
        <div class="col-6 text-right">
            <button class="btn dealbtn" onclick="addContactModal()">+ Add Government Contacts</button>
        </div>
        <div class="col-12 my-3">
            <nav aria-label="...">
                <ul class="pagination justify-content-end" id="pagingUL">
                </ul>
            </nav>
        </div>

        <div class="row align-items-center">
            <div class="col-11 d-flex align-items-center">
                <div class="d-flex align-items-center mr-3">
                    <label for="searchName" class="mr-2" style="margin-top: 5px">Name:</label>
                    <input type="text" class="form-control" style="width: 150px" id="searchName">
                </div>
                <div class="d-flex align-items-center mr-3">
                    <label for="searchSubAgency" class="mr-2" style="margin-top: 5px">Sub Agency:</label>
                    <input type="text" class="form-control" style="width: 150px" id="searchSubAgency">
                </div>
                <div class="d-flex align-items-center mr-3">
                    <label for="searchActive" class="mr-2" style="margin-top: 5px">Status:</label>
                    <select class="form-control namespace-combobox" id="searchActive" style="width:auto">
                        <option value=1>Active</option>
                        <option value=0>Inactive</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-12 tab-content" id="myTabContent">
            <div class="table-responsive tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table id="peopleTable" class="table nowrap table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr style="text-align:center;">
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Sub Agency</th>
                            <th>Office</th>
                            @*<th width="60" style="text-align: center;">Edit</th>*@
                        </tr>
                    </thead>
                    <tbody id="getGovernmentContacts">
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addContactModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog"
     data-backdrop="static" data-keyboard="false" aria-modal="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" style="max-width:80%">
        <div class="modal-content">

            <div class="modal-body pb-5">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-11">
                                    <h3 class="heading" style="float: left; margin-bottom: 20px;">Add Government Contact</h3>
                                </div>
                                <div class="col-1" style="float: right; text-align: right;">
                                    <i class="fa fa-times" aria-hidden="true" id="closeDealModal" onclick="closeContactModal('addContactModal')" style="cursor:pointer"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="row g-3">
                        <div class="col-md-4 mb-3">
                            <label for="orgName" autocomplete="off" class="form-label">Name<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="contactName" aria-describedby="orgName" maxlength="200" name="newOrgaName" autocomplete="newOrgName">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="contactTitle" class="form-label">Title</label>
                            <input type="text" class="form-control" id="contactTitle" maxlength="20" name="orgTitle" autocomplete="orgPhone">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputPhone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="contactPhone" maxlength="20" name="orgPhone" autocomplete="orgPhone">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputEmail4" class="form-label">Email<span style="color:red">*</span></label>
                            <input type="email" class="form-control" id="contactEmail" maxlength="200" name="orgEmail" autocomplete="orgEmail">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputAddress" class="form-label">Address @*<span style="color:red">*</span>*@</label>
                            <input type="text" class="form-control" id="contactAddress" maxlength="100"
                                   name="orgAddress" autocomplete="orgAddress">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputCity" class="form-label">City @*<span style="color:red">*</span>*@</label>
                            <input type="text" class="form-control" id="contactCity" maxlength="50" name="orgCity" autocomplete="orgCity">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputState" class="form-label">State @*<span style="color:red">*</span>*@</label>
                            <input type="text" class="form-control" id="contactState" maxlength="5" name="orgState" autocomplete="orgState">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputZip" class="form-label">Zip Code @*<span style="color:red">*</span>*@</label>
                            <input type="text" class="form-control" id="contactZip" maxlength="10" name="orgZip" autocomplete="orgZip">
                        </div>

                        @*agency and sub agency*@
                        <div id="agencyHtml" class="row col-12 mb-3 ml-0 pl-0">

                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="inputNotes" class="form-label">Notes</label>
                            <textarea class="form-control" id="contactNotes" rows="3" maxlength="500" name="orgNote" autocomplete="orgNote"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn dealbtn float-right" type="button" id="SaveContact" onclick="saveData()">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editContactModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog"
     data-backdrop="static" data-keyboard="false" aria-modal="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" style="max-width:80%">
        <div class="modal-content">

            <div class="modal-body pb-5">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-11">
                                    <h3 class="heading" style="float: left; margin-bottom: 20px;">Edit Government Contact</h3>
                                </div>
                                <div class="col-1" style="float: right; text-align: right;">
                                    <i class="fa fa-times" aria-hidden="true" id="closeDealModal" onclick="closeContactModal('editContactModal')" style="cursor:pointer"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="row g-3">
                        <input type="number" id="government_contact_id" hidden>
                        <div class="col-md-4 mb-3">
                            <label for="orgName" autocomplete="off" class="form-label">Name<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="editName" aria-describedby="orgName" maxlength="200" name="newOrgaName" autocomplete="newOrgName">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="contactTitle" class="form-label">Title</label>
                            <input type="text" class="form-control" id="editTitle" maxlength="20" name="orgTitle" autocomplete="orgPhone">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputPhone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="editPhone" maxlength="20" name="orgPhone" autocomplete="orgPhone">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputEmail4" class="form-label">Email<span style="color:red">*</span></label>
                            <input type="email" class="form-control" id="editEmail" maxlength="200" name="orgEmail" autocomplete="orgEmail">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputAddress" class="form-label">Address @*<span style="color:red">*</span>*@</label>
                            <input type="text" class="form-control" id="editAddress" maxlength="100"
                                   name="orgAddress" autocomplete="orgAddress">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputCity" class="form-label">City @*<span style="color:red">*</span>*@</label>
                            <input type="text" class="form-control" id="editCity" maxlength="50" name="orgCity" autocomplete="orgCity">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputState" class="form-label">State @*<span style="color:red">*</span>*@</label>
                            <input type="text" class="form-control" id="editState" maxlength="5" name="orgState" autocomplete="orgState">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="inputZip" class="form-label">Zip Code @*<span style="color:red">*</span>*@</label>
                            <input type="text" class="form-control" id="editZip" maxlength="10" name="orgZip" autocomplete="orgZip">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="Award" class="form-label d-block">Status</label>
                            <select class="form-control" id="editActive">
                                <option value=1>Active</option>
                                <option value=0>Inactive</option>
                            </select>
                        </div>

                        @*agency and sub agency*@
                        <div id="editAgency" class="row col-12 mb-3 ml-0 pl-0">

                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="inputNotes" class="form-label">Notes</label>
                            <textarea class="form-control" id="editNotes" rows="3" maxlength="500" name="orgNote" autocomplete="orgNote"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn dealbtn float-right" type="button" id="updateContact" onclick="updateData()">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>