
    <div class="row">
        <div class="col-md-2">
            <label id="lblTransId" style="display:none;"></label>
            <label class="A008">Coupon Code</label><input maxlength="9" type="text" class="form-control" id="txtCouponCode" />
        </div>
        <div class="col-md-3">
            <label class="A008">Coupon Code Description</label><input type="text" style="font-family: revert;" class="form-control" id="txtCouponcodedescription" />
        </div>
        <div class="col-md-1">
            <label class="A008">Discount (%)</label><input type="text" style="font-family: revert;" class="form-control" id="txtPercentagediscount" />
        </div>
        <div class="col-md-2">
            <label class="A008">Expiration Date</label><input type="text" style="font-family: revert;" class="form-control datepicker-here" id="txtExpirationdate" />
        </div>
        <div class="col-md-2">

            <label class="A008">Active</label>
            <div class="row">
                <div class="col-md-6" style="margin-top: 10px;padding-right: 0px;">
                    <label class="container">
                        YES<input type="radio" name="active" class="radiocheck Yes" value="Yes">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6" style="margin-top: 10px;padding-right: 0px;">
                    <label class="container">
                        NO<input type="radio" name="active" class="radiocheck No" value="No">
                        <span class="checkmark"></span>
                    </label>
                </div>

            </div>

        </div>
        <div class="col-md-2">
            <button id="btncoupon" class="btn btn-block btn-lg btn-info sb001" style="width:100%">Save</button>
        </div>

    </div>
@*<div class="row ">
        <div class="col-md-12">
            <button id="btnSubscription" class="css02 pull-right" style="width:10%">Save</button>
        </div>
    </div>*@


